<!DOCTYPE html>
<html>
<head>

	<link rel="shortcut icon" href="../static/assets/images/animania_icon_small_red.ico">

	<link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css.css">

</head>
<body background="../static/assets/images/bg.png">
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div class ="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
	<div class="panel panel-danger" width="80%">
		<div class="panel-heading" width="100%">
			<h2> Error </h2>	
		</div>
		<div class="panel-body" width="100%">
			<p style="font-size:40px">{{ error }}</p>
		</div>
	</div>
	</div>
	<div class="col-md-4"></div>
</div>
<br>
<form action="/">
	<div align="center">
	<button type="submit" align="center" class="btn btn-danger btn-lg" style="width:300px;font-size:large">Go Back</button>
	</div>
</form>

</body>
</html>