<!DOCTYPE html>
<html>
<head>

	<link rel="shortcut icon" href="../static/assets/images/animania_icon_small.ico">

	<link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css.css">

</head>

<br><br><br>
<div class = "row">
	<div class = "col-md-2"></div>
	<div class = "col-md-8">
		<div class="panel panel-primary" width="100%">
			<div class="panel-heading" width="100%">
				<h2 align="center">Please try to sign up for 2 or 3 positions</h2>
			</div>
			<div class="panel-body" width="100%">
				<h4 align="center">Try to fill in shifts in priority of order shown such that panels have highest priority, tables have lowest, etc.</h4>
			</div>
		</div>
	</div>
</div>

<br>

<form action="/submitpicks" target="_blank" method="post">
	<div class = "row">
		<div class = "col-md-2"></div>
		<div class = "col-md-8">
			<div class="panel panel-primary" width="100%">
				<div class="panel-heading" width="100%">
					<h2> Panel Shifts </h2>	
				</div>
				<div class="panel-body" width="100%">
					<div class="row">

						<div class="checkbuff">

							<table align="center" style="width:95%" border="1">
								<tr>
									<th align="center"></th>
									<th align="center">Title</th>
									<th align="center">Time</th>
									<th align="center">Location</th>
								</tr>
								{% for i in events %}
								{% if i.type == 'Panel' %}
								<tr>
									{% if i.person2 == 'none' %}
 										<td align="center"><input type="checkbox" name='spoopy' value="{{ i.id - 1}}"></td>						
 									{% else %}	
 										<td align="center"><input type="checkbox" name='spoopy' value="{{ i.id - 1}}" disabled></td>		
 									{% endif %}
									{% if i.link == 'none' %}
										<td align="center">{{ i.name }}</td>
									{% else %}
										<td align="center"><a href="#null" onclick="document.getElementById('myvideo').src='{{i.link}}'">{{ i.name }}</a></td>
									{% endif %}
									<td align="center">{{ hourconvert(i.start) }} - {{ hourconvert(i.finish) }}</td>
									<td align="center">{{ i.location }}</td>
								</tr>
								{% endif %}
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-2"></div>
	</div>

	<br>

	<div class = "row">
		<div class = "col-md-2"></div>
		<div class = "col-md-8">
			<div class="panel panel-primary" width="100%">
				<div class="panel-heading" width="100%">
					<h2> Event Shifts </h2>	
				</div>
				<div class="panel-body" width="100%">
					<div class="row">

						<div class="checkbuff">

							<table align="center" style="width:95%" border="1">
								<tr>
									<th align="center"></th>
									<th align="center">Title</th>
									<th align="center">Time</th>
									<th align="center">Location</th>
								</tr>
								{% for i in events %}
								{% if i.type == 'Event' %}
								<tr>
									{% if i.person2 == 'none' %}
 										<td align="center"><input type="checkbox" name='spoopy' value="{{ i.id - 1}}"></td>						
 									{% else %}	
 										<td align="center"><input type="checkbox" name='spoopy' value="{{ i.id - 1}}" disabled></td>		
 									{% endif %}
									{% if i.link == 'none' %}
										<td align="center">{{ i.name }}</td>
									{% else %}
										<td align="center"><a href="#null" onclick="document.getElementById('myvideo').src='{{i.link}}'">{{ i.name }}</a></td>
									{% endif %}
									<td align="center">{{ hourconvert(i.start) }} - {{ hourconvert(i.finish) }}</td>
									<td align="center">{{ i.location }}</td>
								</tr>
								{% endif %}
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-2"></div>
	</div>	


	<div class = "row">
		<div class = "col-md-2"></div>
		<div class = "col-md-8">
			<div class="panel panel-primary" width="100%">
				
				<div class="panel-body" width="100%">
					<h5 align="center">Note: Click on the video links below to watch a preview of a show or movie.</h5>
				</div>
			</div>
		</div>
	</div>


	<div class = "row">
		<div class = "col-md-1"></div>
		<div class = "col-md-5">
			<div class="panel panel-primary" width="100%">
				<div class="panel-heading" width="100%">
					<h2> Show Shifts </h2>	
				</div>
				<div class="panel-body" width="100%">
					<div class="row">

						<div class="checkbuff">

							<table align="center" style="width:95%" border="1">
								<tr>
									<th align="center"></th>
									<th align="center">Title</th>
									<th align="center">Time</th>
									<th align="center">Location</th>
								</tr>
								{% for i in events %}
								{% if i.type == 'Show' %}
								<tr>
									{% if i.person2 == 'none' %}
 										<td align="center"><input type="checkbox" name='spoopy' value="{{ i.id - 1}}"></td>						
 									{% else %}	
 										<td align="center"><input type="checkbox" name='spoopy' value="{{ i.id - 1}}" disabled></td>		
 									{% endif %}
									{% if i.link == 'none' %}
										<td align="center">{{ i.name }}</td>
									{% else %}
										<td align="center"><a href="#null" onclick="document.getElementById('myvideo').src='{{i.link}}'">{{ i.name }}</a></td>
									{% endif %}
									<td align="center">{{ hourconvert(i.start) }} - {{ hourconvert(i.finish) }}</td>
									<td align="center">{{ i.location }}</td>
								</tr>
								{% endif %}
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class = "col-md-5">
			<div class="panel panel-primary" width="100%">
				<div class="panel-heading" width="100%">
					<h2> Movie Shifts </h2>	
				</div>
				<div class="panel-body" width="100%">
					<div class="row">

						<div class="checkbuff">

							<table align="center" style="width:95%" border="1">
								<tr>
									<th align="center"></th>
									<th align="center">Title</th>
									<th align="center">Time</th>
									<th align="center">Location</th>
								</tr>
								{% for i in events %}
								{% if i.type == 'Movie' %}
								<tr>
									{% if i.person2 == 'none' %}
 										<td align="center"><input type="checkbox" name='spoopy' value="{{ i.id - 1}}"></td>						
 									{% else %}	
 										<td align="center"><input type="checkbox" name='spoopy' value="{{ i.id - 1}}" disabled></td>		
 									{% endif %}
									{% if i.link == 'none' %}
										<td align="center">{{ i.name }}</td>
									{% else %}
										<td align="center"><a href="#null" onclick="document.getElementById('myvideo').src='{{i.link}}'">{{ i.name }}</a></td>
									{% endif %}
									<td align="center">{{ hourconvert(i.start) }} - {{ hourconvert(i.finish) }}</td>
									<td align="center">{{ i.location }}</td>
								</tr>
								{% endif %}
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>
			<br>
			<iframe id="myvideo" frameborder="0" src="http://www.youtube.com/watch_popup?v=P-dsLrkAQfw" align="middle" height="360" width="510" allowfullscreen="1"></iframe>

		</div>

	</div>

	<br>


	<div class = "row">
		<div class = "col-md-2"></div>
		<div class = "col-md-8">
			<div class="panel panel-primary" width="100%">
				<div class="panel-heading" width="100%">
					<h2> Table Shifts </h2>	
				</div>
				<div class="panel-body" width="100%">
					<div class="row">

						<div class="checkbuff">

							<table align="center" style="width:95%" border="1">
								<tr>
									<th align="center"></th>
									<th align="center">Title</th>
									<th align="center">Time</th>
									<th align="center">Location</th>
								</tr>
								{% for i in events %}
								{% if i.type == 'Table' %}
								<tr>
									{% if i.person2 == 'none' %}
 										<td align="center"><input type="checkbox" name='spoopy' value="{{ i.id - 1}}"></td>						
 									{% else %}	
 										<td align="center"><input type="checkbox" name='spoopy' value="{{ i.id - 1}}" disabled></td>		
 									{% endif %}
									{% if i.link == 'none' %}
										<td align="center">{{ i.name }}</td>
									{% else %}
										<td align="center"><a href="#null" onclick="document.getElementById('myvideo').src='{{i.link}}'">{{ i.name }}</a></td>
									{% endif %}
									<td align="center">{{ hourconvert(i.start) }} - {{ hourconvert(i.finish) }}</td>
									<td align="center">{{ i.location }}</td>
								</tr>
								{% endif %}
								{% endfor %}
							</table>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>

	<div style="text-align:center">  
		<button type="submit" class="btn btn-primary btn-lg" style="width:300px;font-size:large">Submit Choices</button>  
	</div> 

</form>

<br><br><br>

</body>
</html>